{% extends "base.html" %}

{% block title %}Sistema de Eventos UnB{% endblock %}
{% block nav_links %}{% endblock %}

{% block content %}
<div class="row justify-content-center mt-5">
    <div class="col-md-8 text-center">
        <h1 class="display-4 mb-4">Bem-vindo(a) ao Sistema de Eventos da UnB!</h1>
        <p class="lead mb-4">Selecione uma opção para começar:</p>
        
        <div class="d-grid gap-3 col-8 mx-auto">
            <a href="{{ url_for('pessoa_bp.pessoa') }}" class="btn btn-success btn-lg mb-2">Cadastre-se</a> 
            <a href="{{ url_for('evento_bp.eventos_lista') }}" class="btn btn-primary btn-lg"> Lista de Eventos</a>
            <a href="{{ url_for('certificados_bp.certificados') }}" class="btn btn-primary btn-lg"> Gerar certificado</a>
        </div>
    </div>
</div>
{% endblock %}